{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('availability-form') }}
{% endblock %}

{% block body %}
{% block before_form '' %}

{% include 'availability/_pagination.html.twig' %}
{{ form_start(form) }}
    <table class="table availability-table">
        {% set choices = form.availabilityDomains.vars.data %}
        {% set nbChoicesPerDay = choices|length/7 %}
        <thead>
            <tr>
                <th></th>
                {% for i in 0..6 %}
                    <th>
                        <label class="day-title" data-day="{{ i }}">
                            {{ choices[nbChoicesPerDay*i].date|format_date(pattern="eeee dd") }}
                            <input type="checkbox" />
                        </label>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in 0..nbChoicesPerDay-1 %}
                <tr>
                    <td>{{ choices[i].date|date('H') }}-{{ choices[i+1].date|date('H') }}h</td>
                    {% for j in 0..6 %}
                        <td class="clickable-table-box" data-day="{{ j }}">{{ form_widget(form.availabilityDomains.children[j*nbChoicesPerDay+i].tick) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td><button class="btn-secondary btn select-all" type="button">Tout sélectionner</button></td>
        </tr>
        </tfoot>
    </table>

    {{ form_row(form.submit) }}
{{ form_end(form) }}

{% endblock %}
