{% import 'organization/mission/_list.html.twig' as missionMacro %}

{% set columnsCount = 9 %}

<div class="table-responsive">
    <table class="table table-bordered table-sm">
        <thead class="thead-light">
        <tr>
            <th>{{ 'organization.mission.title' | trans }}</th>
            <th>{{ 'organization.mission.dates' | trans }}</th>
            <th>{{ 'organization.mission.hours' | trans }}</th>
            <th>{{ 'organization.itemTitle' | trans }}</th>
            <th>{{ 'organization.mission.itemFull' | trans }}</th>
            <th>{{ 'user.skills' | trans }}</th>
            <th>{{ 'user.identificationNumber' | trans }}</th>
            <th>{{ 'user.email' | trans }}</th>
            <th>{{ 'common.phoneNumberShort' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr class="table-primary">
                <td>
                    <span class="badge badge-secondary">{{ mission.type.name | default('') }}</span>

                    <button type="button" class="btn btn-link p-0" data-toggle="ajax-modal" data-href="{{ path('app_organization_mission_modal', {id: mission.id}) }}">
                        <span class="fa fa-copy"></span> {{ mission.name }}
                    </button>
                </td>
                <td>
                    {{ missionMacro.missionDates(mission, 'date') }}
                </td>
                <td>
                    {{ missionMacro.missionDates(mission, 'time') }}
                </td>
                <td colspan="{{ columnsCount - 3 }}"></td>
            </tr>
            {% if mission.comment %}
                <tr>
                    <td colspan="{{ columnsCount }}">{{ mission.comment | nl2br }}</td>
                </tr>
            {% endif %}
            {% for user in mission.users %}
                <tr>
                    <td colspan="3"></td>
                    <td>{{ user.organization.name }}</td>
                    <td>
                        <button type="button" class="btn btn-link p-0" data-toggle="ajax-modal" data-href="{{ path('app_organization_user_show_modal', {userToShow: user.id, organization: user.organization.id}) }}">
                            <span class="fa fa-copy"></span> {{ user.fullName }}
                        </button>
                    </td>
                    <td>{{ user|userBadges }}</td>
                    <td><small>{{ user.identificationNumber }}</small></td>
                    <td>
                        <a href="mailto:{{ user.emailAddress }}" class="small">{{ user.emailAddress }}</a>
                    </td>
                    <td>
                        <a href="tel:{{ user.phoneNumber|phone_number_format('E164') }}" class="small">
                            {{ user.phoneNumber|phone_number_format('NATIONAL') }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% for asset in mission.assets %}
                <tr class="table-secondary">
                    <td colspan="3"></td>
                    <td>{{ asset.organization.name }}</td>
                    <td>
                        <button type="button" class="btn btn-link p-0" data-toggle="ajax-modal" data-href="{{ path('app_organization_asset_show_modal', {asset: asset.id, organization: asset.organization.id}) }}">
                            <span class="fa fa-copy"></span> {{ asset }}
                        </button>
                    </td>
                    <td colspan="4"></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="{{ columnsCount }}">
                    <p class="alert alert-warning">{{ 'organization.planning.noResourceAvailable'|trans }}</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
