{% extends 'organization/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('missions') }}
{% endblock %}

{% block title %}{{ mission }}{% endblock %}

{% block body %}
    <a href="{{ path('app_organization_mission_index') }}" class="d-inline-block mb-4">{{ 'common.backToList' | trans }}</a>

    {% include 'organization/mission/_show.html.twig' %}
{% endblock %}
