<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/favicon.ico" />
        <title>ResOP - {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">ResOP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_organization_index')}}">Accueil</a>
                    </li>
                </ul>
                <div class="my-2 my-lg-0 d-flex">
                    {% if not app.user %}
                        <a class="nav-link" href="{{ path('app_login')}}">Espace bénévole</a>
                        <a class="nav-link" href="{{ path('app_organization_login')}}">Espace structure</a>
                    {% else %}
                        {{  app.user }}
                        <a class="mx-4" href="{{ logout_path() }}">Déconnexion</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        {% block container %}
            <div class="container my-4">
                {{ include('misc/flash-messages.html.twig') }}
                {% block body %}{% endblock %}
            </div>
        {% endblock %}

        <footer class="page-footer font-small pt-4 mt-5">
            <div class="footer-copyright text-center py-3">
                <p class="font-italic text-secondary">
                    Réserve Opérationnelle - Croix-Rouge Française de Paris -
                    Contribuez au projet: <a href="https://github.com/crf-devs/resop/" target="_blank" class="text-body">github.com/crf-devs/resop</a>
                </p>
            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
