<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=1, minimum-scale=.25, user-scalable=yes">
        <link rel="shortcut icon" href="/favicon.ico" />
        <title>{{ 'project.name' | trans }} - {% block title %}{{ 'nav.welcome' | trans }}!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-xl">
                <a class="navbar-brand" href="{{ path('app_organization_dashboard')}}">{{ 'project.name' | trans }}</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <span class="navbar-text navbar-separator d-none d-lg-block"></span>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_organization_dashboard')}}" title="{{ app.request.attributes.get('currentOrganization') }}">
                                {{ 'nav.section.organization' | trans }} -
                                {{ app.request.attributes.get('currentOrganization') }}
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-nav">
                        <form action="{{ path('app_organization_search') }}" method="get" class="mr-3">
                            <div class="input-group input-group-search">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span class="fa fa-search"></span></span>
                                </div>
                                <input type="search" class="form-control" value="{{ query | default('') }}" required name="query" placeholder="{{ 'organization.search.submit'|trans }}" />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-secondary" title="{{ 'organization.search.submit'|trans }}">
                                        <i class="fa fa-long-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                        {% include 'organization/_help.html.twig' %}

                        <span class="navbar-text navbar-separator mt-1 ml-3 mr-4 d-none d-lg-block"></span>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.fullName }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <a class="dropdown-item text-danger" href="{{ path('app_organization_user_list', {'organization': app.user.organization.id, '_switch_user': '_exit'}) }}">{{ 'nav.section.exitImpersonation' | trans }}</a>
                                    <hr>
                                {% endif %}

                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('app_admin_organizations') }}">{{ 'nav.section.admin' | trans }}</a>
                                {% endif %}

                                <a class="dropdown-item" href="{{ path('app_user_home')}}">{{ 'nav.section.volunteer' | trans }}</a>

                                {% for organization in app.user.managedOrganizations %}
                                    <a class="dropdown-item" href="{{ path('app_organization_dashboard', {organization: organization.id}) }}">{{ organization.name }}</a>
                                {% endfor %}

                                <hr>
                                <a class="dropdown-item text-danger" href="{{ logout_path() }}">{{ 'action.logout' | trans }}</a>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </nav>
        {% block container %}
            <div class="container-xl my-5">
                {{ include('misc/flash-messages.html.twig') }}
                {% block body %}{% endblock %}
            </div>
        {% endblock %}

        {% include '_footer.html.twig' %}

        {% include 'organization/_delete_modal.html.twig' %}
        {% include '_ajax_modal.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
