{% extends 'organization/base.html.twig' %}

{% if organization.id is null %}
    {% set formAction = path('app_organization_new') %}
    {% set formTitle = 'organization.add' | trans %}
{% else %}
    {% set formAction = path('app_organization_edit', { organization: organization.id }) %}
    {% set formTitle = 'organization.edit' | trans %}
{% endif %}

{% block title %}{{formTitle}}{% endblock %}

{% block body %}

    <h1>{{formTitle}}</h1>
    {{ form_start(form, { method: 'POST', action: formAction }) }}
    {{ form_row(form.name) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
