{% extends 'base.html.twig' %}

{% block title %}Espace structure{% endblock %}

{% block body %}
    <h1>{{ organization.name }}</h1>

    <p>Semaine actuelle : du {{ 'this week' | date('d/m/Y') }} au {{ 'sunday this week' | date('d/m/Y') }}</p>
    <p><a class="btn btn-primary" href="#" role="button">Afficher les disponibilités de mes bénévoles pour la semaine actuelle</a></p>

    <p>Semaine prochaine : du {{ 'next week' | date('d/m/Y') }} au {{ 'sunday next week' | date('d/m/Y') }}</p>
    <p><a class="btn btn-primary" href="#" role="button">Afficher les disponibilités de mes bénévoles pour la semaine prochaine</a></p>

    <hr>

    <p><a class="btn btn-primary" href="#" role="button">Afficher la liste de mes bénévoles inscrits</a></p>
    <p><a class="btn btn-primary" href="{{ path('organization_commissionable_assets') }}" role="button">Afficher la liste de mes véhicules</a></p>

    <hr>

    <p><a class="btn btn-primary" href="#" role="button">Afficher la liste de mes structures</a></p>
{% endblock %}
