{% extends 'organization/base.html.twig' %}

{% block title %}{{ 'nav.section.organization' | trans }}{% endblock %}

{% block body %}
    {{ include('misc/flash-messages.html.twig') }}

    <h1>{{ app.user }}</h1>

    <p>{{ 'calendar.week.current' | trans }} : {{ 'calendar.period' | trans ({ '%from%' : 'this week' | date('d/m/Y'), '%to%' : 'sunday this week' | date('d/m/Y') }) }}</p>
    <p>
        <a class="btn btn-outline-primary" role="button" href="{{ path('planning', {'organizations[]': app.user.id, 'from': 'monday this week' | date('Y-m-d\\T00:00:00'), 'to': 'sunday this week' | date('Y-m-d\\T00:00:00'), 'withoutAvailabilities': 0}) }}">
            {{ 'organization.userAvailabilityCurrentWeek' | trans }}
        </a>
    </p>

    <p>{{ 'calendar.week.next' | trans }} : {{ 'calendar.period' | trans ({ '%from%' : 'next week' | date('d/m/Y'), '%to%' : 'sunday next week' | date('d/m/Y') }) }}</p>
    <p>
        <a class="btn btn-outline-primary" role="button" href="{{ path('planning', {'organizations[]': app.user.id, 'from': 'monday next week' | date('Y-m-d\\T00:00:00'), 'to': 'sunday next week' | date('Y-m-d\\T00:00:00'), 'withoutAvailabilities': 0}) }}">
            {{ 'organization.userAvailabilityNextWeek' | trans }}
        </a>
    </p>

    <hr>
    {{ include('organization/_search.html.twig') }}

    <hr>
    <p><a class="btn btn-secondary" role="button" href="{{ path('app_organization_user_list', {'organization': app.user.id}) }}">{{ 'organization.showUserList' | trans }}</a></p>
    <p><a class="btn btn-secondary" href="{{ path('app_organization_assets', {'organization': app.user.id}) }}" role="button">{{ 'organization.showCommissionableAssets' | trans }}</a></p>

    {% if app.user.parent == null %}
        <hr>
        <p><a class="btn btn-info" href="{{ path('planning') }}" role="button">{{ 'organization.showAllUsersAvailability' | trans }}</a></p>
        <p><a class="btn btn-info" href="{{ path('app_organisation_forecast') }}" role="button">{{ 'organization.forecast' | trans }}</a></p>

        <hr>
        <p><a href="{{ path('app_organization_list') }}" class="btn btn-info">{{ 'organization.editAll' | trans }}</a></p>
        <p><a href="{{ path('app_organization_mission_type_index') }}" class="btn btn-info">{{ 'organization.editMissionType' | trans }}</a></p>
    {% endif %}
{% endblock %}
