{% extends 'organization/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'securityOrganization') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

    <div class="form-row mb-4">
        <label for="inputIdentifier">Structure</label>
        <select name="identifier" id="inputIdentifier" class="form-control" required>
            {% for organization in organizations %}
                <option value="{{ organization.name }}" {{ last_username == organization.name ? 'selected' : '' }}>
                    {{- organization.name -}}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="form-row mb-4">
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
    </div>

    <div class="mt-4 mt-md-5 mb-2 d-flex">
        <label class="mx-auto">
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-primary w-100" type="submit">
        Je me connecte
    </button>

</form>
{% endblock %}
