<div class="table-responsive">
    <table class="table table-stripped mt-3">
        <thead class="thead-light">
        <tr>
            <th>{{ 'organization.label' | trans }}</th>
            <th>{{ 'common.type' | trans }}</th>
            <th>{{ 'organization.asset.identificationNumber' | trans }}</th>
            {% if showLinks is not defined or showLinks %}
                <th>{{ 'common.availabilities' | trans }}</th>
            {% endif %}
            {% if showLinks is not defined or showLinks %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for asset in assets %}
            <tr>
                <td>{{ asset.organization.name }}</td>

                <td>{{ asset.assetType.name }}</td>
                <td class="text-nowrap">
                    {{ asset.name }}
                </td>

                {% if showLinks is not defined or showLinks %}
                    <td>
                        <a class="btn btn-outline-primary" href="{{ path('app_organization_asset_availability', { asset: asset.id }) }}">{{ 'calendar.week.current' | trans }}</a>
                        <a class="btn btn-outline-primary" href="{{ path('app_organization_asset_availability', { asset: asset.id, week: 'next week' | date('o-\\WW') }) }}">{{ 'calendar.week.startMonday' | trans ({'%week%' : 'monday next week' | date('d/m/Y')}) }}</a>
                    </td>
                {% endif %}

                {% if showLinks is not defined or showLinks %}
                    <td>
                        <button class="btn btn-outline-primary text-nowrap" data-toggle="ajax-modal" data-href="{{ path('app_organization_asset_show_modal', { asset: asset.id }) }}" title="{{ 'action.show' | trans }}">
                            <span class="fa fa-copy"></span> {{ 'action.show' | trans }}
                        </button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
