<div class="table-responsive">
    <table class="table table-stripped mt-3">
        <thead class="thead-light">
        <tr>
            <th>{{ 'common.type' | trans }}</th>
            <th>{{ 'organization.asset.identificationNumber' | trans }}</th>
            {% if showActions is not defined or showActions %}
                <th>{{ 'common.availabilities' | trans }}</th>
            {% endif %}
            <th>{{ 'organization.label' | trans }}</th>
            {% if showActions is not defined or showActions %}
                <th>{{ 'common.actions' | trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for asset in assets %}
            <tr>
                <td>{{ asset.assetType.name }}</td>
                <td class="text-nowrap">
                    {{ asset.name }}
                </td>

                {% if showActions is not defined or showActions %}
                    <td>
                        <a class="btn btn-outline-primary" href="{{ path('app_organization_asset_availability', { asset: asset.id, organization: asset.organization.id }) }}">{{ 'calendar.week.current' | trans }}</a>
                        <a class="btn btn-outline-primary" href="{{ path('app_organization_asset_availability', { asset: asset.id, organization: asset.organization.id, week: 'next week' | date('o-\\WW') }) }}">{{ 'calendar.week.startMonday' | trans ({'%week%' : 'monday next week' | date('d/m/Y')}) }}</a>
                    </td>
                {% endif %}

                <td>{{ asset.organization.name }}</td>
                {% if showActions is not defined or showActions %}
                    <td>
                        <a class="btn btn-secondary" href="{{ path('app_organization_asset_edit', { asset: asset.id, organization: asset.organization.id }) }}">{{ 'action.edit' | trans }}</a>
                        {% if withDelete is defined and withDelete %}
                            <a
                                class="btn btn-outline-danger trigger-delete"
                                data-message="{{ 'message.deleteAssetWarning' | trans }}"
                                data-display-name="{{ asset }}"
                                data-href="{{ path('app_organization_asset_delete', { asset: asset.id, organization: asset.organization.id }) }}"
                                href="#"
                            >
                                {{ 'action.delete' | trans }}
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
