<div class="row">
    <div class="col-12 text-right mb-2">
        <a class="btn btn-success" href="{{ path('app_organization_asset_add', {organization: organization.id | default(app.user.id)}) }}" role="button">
            {{ 'organization.vehicle.identificationNumber' | trans }}
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-stripped">
        <thead class="thead-light">
            <tr>
                <th>{{ 'organization.vehicle.identificationNumber' | trans }}</th>
                <th>{{ 'common.availabilities' | trans }}</th>
                <th>{{ 'organization.label' | trans }}</th>
                <th>{{ 'common.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for asset in assets %}
            <tr>
                <td class="text-nowrap">
                    {{ asset }}
                    <span class="badge badge-pill badge-primary">
                        {{ asset.seatingCapacity }}
                        {{ 'organization.vehicle.seat' | trans }}{{ asset.seatingCapacity > 1 ? 's' }}
                    </span>
                    {% if asset.hasMobileRadio %}
                    <span class="badge badge-pill badge-info">{{ 'organization.vehicle.radio' | trans }}</span>
                    {% endif %}
                    {% if asset.hasFirstAidKit %}
                        <span class="badge badge-pill badge-danger">{{ 'organization.vehicle.firstAidKit' | trans }}</span>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('app_organization_asset_availability', { asset: asset.id, organization: asset.organization.id }) }}">{{ 'calendar.week.current' | trans }}</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_organization_asset_availability', { asset: asset.id, organization: asset.organization.id, week: 'next week' | date('o-\\WW') }) }}">{{ 'calendar.week.startMonday' | trans ({'%week%' : 'monday next week' | date('d/m/Y')}) }}</a>
                </td>
                <td>{{ asset.organization.name }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('app_organization_asset_edit', { asset: asset.id, organization: asset.organization.id }) }}">{{ 'action.edit' | trans }}</a>
                    <a class="btn btn-outline-danger trigger-delete" data-modal="#modal-delete-asset" data-display-name="{{ asset }}" href="#" data-href="{{ path('app_organization_asset_delete', { asset: asset.id, organization: asset.organization.id }) }}">{{ 'action.delete' | trans }}</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<div class="modal fade" id="modal-delete-asset" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Vous êtes sur le point de supprimer le véhicule : <span id="to-delete-name"></span> et toutes ses disponibilités.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="confirm-update" data-url="" data-status="" type="button" class="btn btn-primary">Supprimer</button>
            </div>
        </div>
    </div>
</div>
