{% if app.user == asset.organization or app.user == asset.organization.parent %}
    <a class="btn btn-primary float-right" href="{{ path('app_organization_asset_edit', {asset: asset.id, organization: asset.organization.id}) }}">{{ 'action.edit' | trans }}</a>
{% endif %}

<h1 class="mb-4">{{ asset }}</h1>

<dl class="row">
    <dt class="col-4">{{ 'organization.default'|trans }}</dt>
    <dd class="col-8">{{ asset.organization }}</dd>

    {% for prop in asset.assetType | assetTypeProperties() %}
        <dt class="col-4">{{ prop.label | default('') }}</dt>
        <dd class="col-8">
            {% if prop != null %}
                {{ dynamicPropertyValue(asset.properties[prop.key]|default('-'), prop) }}
            {% else %}
                -
            {% endif %}
        </dd>
    {% endfor %}
</dl>
