{% extends 'organization/base.html.twig' %}

{% block title %}{{ 'organization.asset.availabilities' | trans ({ '%asset%' : asset }) }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('availability-form') }}
    {{ encore_entry_script_tags('availability-table') }}
{% endblock %}

{% block body %}
    <a href="{{ path('app_organization_assets') }}">{{ 'common.backToList' | trans }}</a>

    <h1>{{ 'organization.asset.availabilities' | trans ({ '%asset%' : asset }) }}</h1>

    {% include 'availability/_table.html.twig' with { availabilityType: 'assets', availabilityId: asset.id } %}
{% endblock %}
