{% extends 'organization/base.html.twig' %}

{% set actionName = asset.id is not empty ? 'Modification' : 'Création' %}

{% block title %}{{ 'organization.asset.createEdit' | trans ({ '%action%' : actionName }) }}{% endblock %}

{% block body %}

    <a href="{{ path('app_organization_assets') }}">{{ 'common.backToList' | trans }}</a>

    {% if asset.id %}
        <a
            class="btn btn-outline-danger trigger-delete float-right"
            data-message="{{ 'message.deleteAssetWarning' | trans }}"
            data-display-name="{{ asset }}"
            data-href="{{ path('app_organization_asset_delete', { asset: asset.id }) }}"
            href="#"
        >{{ 'action.delete' | trans }}</a>
    {% endif %}

    <h1>{{ 'organization.asset.createEdit' | trans ({ '%action%' : actionName }) }}</h1>

    {{ form_start(form) }}
    {% if form.organization is defined %}
        {{ form_row(form.organization) }}
    {% endif %}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
