{% extends 'organization/base.html.twig' %}

{% set actionName = asset.id is defined ? 'Modification' : 'Création' %}

{% block title %}{{ 'organization.asset.createEdit' | trans ({ '%action%' : actionName }) }}{% endblock %}

{% block body %}
    <h1>{{ 'organization.asset.createEdit' | trans ({ '%action%' : actionName }) }}</h1>

    {{ form_start(form) }}
    {% if form.organization is defined %}
        {{ form_row(form.organization) }}
    {% endif %}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
