{% extends 'organization/base.html.twig' %}

{% block title %}{{ 'nav.section.organization' | trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('availabilitable-list') }}
{% endblock %}

{% block body %}
    <h1>{{ 'organization.assets' | trans }} - {{ organization }}</h1>

    {{ form(organization_selector_form) }}

    <div class="row">
        <div class="col-12 text-right mb-2">
            <a class="btn btn-success" href="{{ path('app_organization_commissionable_pre_add_asset', {organization: organization.id | default(app.user.id)}) }}" role="button">
                {{ 'organization.asset.add' | trans }}
            </a>
        </div>
    </div>

    {{ include('organization/commissionable_asset/_list.html.twig') }}
{% endblock %}
