{% extends 'organization/base.html.twig' %}

{% block title %}{{ 'nav.section.organization' | trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('availabilitable-list') }}
{% endblock %}

{% block body %}
    <h1>{{ 'organization.vehicles' | trans }} - {{ organization }}</h1>

    {{ form(organization_selector_form) }}

    {{ include('organization/commissionable_asset/_list.html.twig') }}
{% endblock %}
