{% extends 'organization/base.html.twig' %}

{% block title %}Espace structure{% endblock %}

{% block body %}
    <h1>{{ app.user }} - Véhicules</h1>


    <div class="row">
        <div class="col-12 text-right mb-2">
            <a class="btn btn-success" href="{{ path('app_organization_commissionable_add_asset') }}" role="button">Ajouter un nouveau véhicule</a>
        </div>
    </div>

    <ul class="list-group list-group-flush mb-4 mt-4">
        {% for asset in assets %}
        <li class="list-group-item list-group-item-action">
            <div class="d-flex justify-content-between align-items-center">
                <span>{{ asset }}</span>
                <span>
                    <a class="btn btn-outline-secondary" href="{{ path('app_organization_commissionable_edit_asset', { id: asset.id }) }}">Modifier</a>
                    <a class="btn btn-outline-primary" href="{{ path('organization_commisionable_asset_availability', { id: asset.id }) }}">Disponibilités pour cette semaine</a>
                    <a class="btn btn-outline-primary" href="{{ path('organization_commisionable_asset_availability', { id: asset.id, week: 'next week' | date('o-\\WW') }) }}">Disponibilités de la semaine du lundi {{ 'monday next week' | date('d/m/Y') }}</a>
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
