{% extends 'base.html.twig' %}

{% block title %}{{ 'user.passwordForgotten.title' | trans }}{% endblock %}

{% block body %}

    <h1>{{ 'user.passwordForgotten.title' | trans }}</h1>

    <p>{{ 'user.passwordForgotten.request' | trans }}</p>

    {{ form_start(form) }}

        {% for error in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}

        {{ form_row(form.emailAddress) }}

        <button type="submit" class="btn btn-primary">{{ 'action.submit' | trans }}</button>
    {{ form_end(form) }}
{% endblock %}
