{% extends 'organization/planning/_availabilities_base.html.twig' %}

{% block type %}{{ usersSkills[type] | default('organization.users' | trans) }}{% endblock type %}

{# CAUTION: columns number of blocks itemDataHeader and itemDataDetails should be the same than in _availabilities_assets.html.twig #}
{% block itemDataHeader %}
    <th class="item-data">{{ 'user.identificationNumber' | trans }}</th>
    <th class="item-data">{{ 'common.phoneNumberShort' | trans }}</th>
    <th class="item-data">{{ 'user.email' | trans }}</th>
    <th class="item-data">{{ 'user.occupationTitle' | trans }}</th>
    <th class="item-data">{{ 'user.skills' | trans }}</th>
    {% for user_property in user_properties %}
        <th class="item-data">{{ user_property.columnLabel|default(user_property.label)|default }}</th>
    {% endfor %}
{% endblock itemDataHeader %}

{% block itemDataRowHeader %}
    <button type="button" class="btn btn-link p-0" data-toggle="ajax-modal" data-href="{{ path('app_organization_user_show_modal', {userToShow: item.entity.id, organization: item.entity.organization.id}) }}">
        {{ item.entity }}
    </button>

    {{ item.entity.skillSet | filterSkillsToDisplay | filterInludedSkills | map(skill => skill|skillBadge) | join | raw }}
{% endblock itemDataRowHeader %}

{% block itemDataDetails %}
    <td class="item-data">{{ item.entity.identificationNumber }}</td>
    <td class="item-data">{{ item.entity.phoneNumber|phone_number_format('NATIONAL') }}</td>
    <td class="item-data">{{ item.entity.emailAddress }}</td>
    <td class="item-data" title="{{ item.entity.occupation | emptyIfSmaller(50) }}">{{ item.entity.occupation | truncate(50) }}</td>
    <td class="item-data">{{ item.entity|userBadges }}</td>
    {% for user_property in user_properties %}
        <td class="item-data" title="{{ user_property.columnLabel|default(user_property.label)|default }}">
            {{ dynamicPropertyValue(item.entity.properties[user_property.key]|default('-'), user_property) }}
        </td>
    {% endfor %}
    <td>
        {% if displayActions %}
            <button
                class="btn btn-sm btn-block btn-outline-light engaged trigger-add-mission nowrap"
                data-toggle="modal"
                data-target="#modal-add-mission"
                data-href="{{ path('app_organization_user_add_to_mission_modal', {
                    from: periodCalculator.from | date('Y-m-d\\T00:00:00'),
                    to: periodCalculator.to | date_modify('- 1 minute') | date('Y-m-d\\T00:00:00'),
                    organization: item.entity.organization.id,
                    userToAdd: item.entity.id
                }) }}"
                title="{{ 'organization.asset.engage' | trans }}"
            ><span class="fa fa-plus"></span> {{ 'organization.mission.title' | trans }}</button>
        {% endif %}
    </td>
{% endblock itemDataDetails %}
