{% extends 'organization/planning/_availabilities_base.html.twig' %}

{% block type %}{{ usersSkills[type] | default('organization.users' | trans) }}{% endblock type %}

{# CAUTION: columns number of blocks itemDataHeader and itemDataDetails should be the same than in _availabilities_assets.html.twig #}
{% block itemDataHeader %}
    <th class="item-data">{{ 'user.identificationNumber' | trans }}</th>
    <th class="item-data">{{ 'common.phoneNumberShort' | trans }}</th>
    <th class="item-data">{{ 'user.email' | trans }}</th>
    <th class="item-data">{{ 'common.occupation' | trans }}</th>
    <th class="item-data">{{ 'common.manager' | trans }}</th>
    <th class="item-data">{{ 'user.skills' | trans }}</th>
    <th class="item-data">{{ 'user.uniform' | trans }}</th>
    <th class="item-data">{{ 'user.drivingLicence' | trans }}</th>
    <th class="item-data">{{ 'user.detail.vulnerable.label' | trans }}</th>
{% endblock itemDataHeader %}

{% block itemDataRowHeader %}
    {{ item.entity }}
    {{ item.entity.skillSet | filterSkillsToDisplay | filterInludedSkills | map(skill => skill|skillBadge) | join | raw }}
{% endblock itemDataRowHeader %}

{% block itemDataDetails %}
    <td class="item-data">{{ item.entity.identificationNumber }}</td>
    <td class="item-data">{{ item.entity.phoneNumber|phone_number_format('NATIONAL') }}</td>
    <td class="item-data">{{ item.entity.emailAddress }}</td>
    <td class="item-data" title="{{ item.entity.occupation | emptyIfSmaller(50) }}">{{ item.entity.occupation | truncate(50) }}</td>
    <td class="item-data" title="{{ item.entity.occupation | emptyIfSmaller(50) }}">{{ item.entity.organizationOccupation | truncate(50) }}</td>
    <td class="item-data">{{ item.entity|userBadges }}</td>
    <td class="item-data">{{ item.entity.fullyEquipped ? 'common.yes' | trans : '-' }}</td>
    <td class="item-data">{{ item.entity.drivingLicence ? 'common.yes' | trans : '-' }}</td>
    <td class="item-data">{{ item.entity.vulnerable ? 'common.yes' | trans : '-' }}</td>
    <td>
        <button
            class="btn btn-sm btn-block btn-outline-light engaged trigger-add-mission nowrap"
            data-toggle="modal"
            data-target="#modal-add-mission"
            data-href="{{ path('app_organization_user_add_to_mission_modal', {
                from: periodCalculator.from | date('Y-m-d\\T00:00:00'),
                to: periodCalculator.to | date_modify('- 1 minute') | date('Y-m-d\\T00:00:00'),
                organization: item.entity.organization.id,
                userToAdd: item.entity.id
            }) }}"
            title="{{ 'organization.asset.engage' | trans }}"
        ><span class="fa fa-plus"></span> {{ 'organization.mission.title' | trans }}</button>
    </td>
{% endblock itemDataDetails %}
