<thead>
<tr class="days">
    <th rowspan="2"></th>
    <th colspan="{{ itemDataRow }}" class="item-data"></th>
    {% for item in periodCalculator.days %}
        <th colspan="{{ item.slots }}" data-day="{{ item.date|date("Y-m-d") }}" title="{{ 'calendar.sortByDayAvailabilities' | trans }}">
            {{ item.date|format_date(pattern="eeee dd MMMM") }}
        </th>
    {% endfor %}
</tr>
<tr class="hours">
    <th class="item-data" colspan="{{ itemDataRow }}"></th>

    {% for item in periodCalculator.slots %}
        {% set selected =
            filters.availableFrom is defined and
            filters.availableFrom is not empty and
            filters.availableTo is defined and
            filters.availableTo is not empty and
            item >= filters.availableFrom and
            item < filters.availableTo
        %}
        <th class="slot-name {{ selected ? 'selected' : '' }}">
            {{ item|format_date(pattern="HH") }}
        </th>
    {% endfor %}
</tr>
</thead>

{% for type, list in availabilities %}
    <tbody>
    <tr>
        <th class="separator bg-dark">
            {% block type %}{% endblock type %}
            ({{ list|length }})
        </th>
        {% block itemDataHeader %}{% endblock itemDataHeader %}

        <td colspan="{{ periodCalculator.slots|length }}"></td>
    </tr>
    </tbody>

    <tbody class="item-rows">
    {% for item in list %}
        <tr data-type="{{ entityType }}" data-id="{{ item.entity.id }}">
            <th class="item-detail">
                {% block itemDataRowHeader %}{% endblock itemDataRowHeader %}
            </th>

            {% block itemDataDetails %}{% endblock itemDataDetails %}

            {% autoescape false %}
                {# Table td are rendered in php in order to avoid twig performance issue #}
                {{ renderPlanningTable(item.availabilities, displayActions) }}
            {% endautoescape %}
        </tr>
    {% endfor %}
    </tbody>
{% endfor %}
