{% extends 'organization/planning/_availabilities_base.html.twig' %}

{% block type %}{{ type }}{% endblock type %}

{# CAUTION: columns number of blocks itemDataHeader and itemDataDetails should be the same than in _availabilities_users.html.twig #}
{% block itemDataHeader %}
    <th class="item-data">Details</th>
{#    {% for prop in asset.assetType.properties %}#}
{#        <th class="item-data">{{ prop.label }}</th>#}
{#    {% endfor %}#}
{#    <th class="item-data">{{ 'asset.planning.hasMobileRadio'|trans }}</th>#}
{#    <th class="item-data" colspan="2">{{ 'asset.planning.hasFirstAidKit'|trans }}</th>#}
{#    <th class="item-data">{{ 'asset.planning.contact'|trans }}</th>#}
{#    <th class="item-data" colspan="2">{{ 'asset.parkingLocation'|trans }}</th>#}
{#    <th class="item-data">{{ 'asset.planning.seatingCapacity'|trans }}</th>#}
{#    <th class="item-data">{{ 'asset.planning.licensePlate'|trans }}</th>#}
{#    <th class="item-data">{{ 'asset.comments'|trans }}</th>#}
{% endblock itemDataHeader %}

{% block itemDataDetails %}
        <td class="item-data">
            {% for prop in item.entity.assetType.properties %}
            {{ item.entity.properties[prop.key] |default('') }}
            {% endfor %}
        </td>
{% endblock itemDataDetails %}
