{% extends 'organization/planning/_availabilities_base.html.twig' %}

{% block type %}{{ type }}{% endblock type %}

{# CAUTION: columns number of blocks itemDataHeader and itemDataDetails should be the same than in _availabilities_users.html.twig #}
{% block itemDataHeader %}
    <th class="item-data">{{ 'asset.planning.hasMobileRadio'|trans }}</th>
    <th class="item-data" colspan="2">{{ 'asset.planning.hasFirstAidKit'|trans }}</th>
    <th class="item-data">{{ 'asset.planning.contact'|trans }}</th>
    <th class="item-data" colspan="2">{{ 'asset.parkingLocation'|trans }}</th>
    <th class="item-data">{{ 'asset.planning.seatingCapacity'|trans }}</th>
    <th class="item-data">{{ 'asset.planning.licensePlate'|trans }}</th>
    <th class="item-data">{{ 'asset.comments'|trans }}</th>
{% endblock itemDataHeader %}

{% block itemDataDetails %}
    <td class="item-data">{{ item.entity.hasMobileRadio ? 'common.yes' | trans : '-' }}</td>
    <td class="item-data" colspan="2">{{ item.entity.hasFirstAidKit ? 'common.yes' | trans : '-' }}</td>
    <td class="item-data">{{ item.entity.contact | truncate(30) }}</td>
    <td class="item-data" colspan="2">{{ item.entity.parkingLocation | truncate(30) }}</td>
    <td class="item-data">{{ item.entity.seatingCapacity }}</td>
    <td class="item-data">{{ item.entity.licensePlate }}</td>
    <td class="item-data">{{ item.entity.comments | truncate(50) }}</td>
{% endblock itemDataDetails %}
