{% extends 'organization/planning/_availabilities_base.html.twig' %}
{% import 'organization/commissionable_asset/_show.html.twig' as assetsMacro %}

{% block type %}{{ type | assetTypeName }}{% endblock type %}

{# CAUTION: columns number of blocks itemDataHeader and itemDataDetails should be the same than in _availabilities_users.html.twig #}
{% block itemDataHeader %}
    {% for prop in type | assetTypeProperties(itemDataRow) %}
        <th class="item-data">{{ prop.label | default('') }}</th>
    {% endfor %}
{% endblock itemDataHeader %}

{% block itemDataRowHeader %}
    <button type="button" class="btn btn-link p-0" data-toggle="ajax-modal" data-href="{{ path('app_organization_asset_show_modal', {asset: item.entity.id, organization: item.entity.organization.id}) }}">
        <span class="fa fa-copy"></span> {{ item.entity }}
    </button>
{% endblock itemDataRowHeader %}

{% block itemDataDetails %}
    {% for prop in type | assetTypeProperties(itemDataRow) %}
        <td class="item-data">
            {% if prop != null %}
                {{ assetsMacro.assetPropValue(item.entity.properties[prop.key] | default('')) }}
            {% endif %}
        </td>
    {% endfor %}
    <td></td>
{% endblock itemDataDetails %}
