{% set displayActions = app.user.parent is empty %}
<div class="container planning-actions-container">
    <div class="row">
        <div class="col-md">
            <div class="text-center" id="loader">
                <div class="spinner-border" role="status">
                    <span class="sr-only">{{ 'action.loading' | trans }}</span>
                </div>
            </div>
            <div class="display-more-container form-check">
                <input class="form-check-input" type="checkbox" id="display-more">
                <label class="form-check-label" for="display-more">
                    {{ 'action.displayMore' | trans }}
                </label>
            </div>
        </div>
        {% if displayActions %}
            <div class="col-md">
                <button class="btn btn-sm btn-block trigger-update booked" action="book" data-status="booked" data-status-with-comment data-href="{{ path('planning_update', { action: 'book' }) }}">{{ 'organization.asset.markAsBooked' | trans }}</button>
                <button class="btn btn-sm btn-block trigger-update available" action="allow" data-status="available" data-href="{{ path('planning_update', { action: 'allow' }) }}">{{ 'organization.asset.markAsAvailable' | trans }}</button>
            </div>
            <div class="col-md">
                <button class="btn btn-sm btn-block trigger-update locked" action="lock" data-status="locked" data-status-with-comment data-href="{{ path('planning_update', { action: 'lock' }) }}">{{ 'organization.asset.markAsLocked' | trans }}</button>
                <button class="btn btn-sm btn-block trigger-update unknown" action="delete" data-status="unknown" data-href="{{ path('planning_update', { action: 'delete' }) }}">{{ 'organization.asset.markAsUnavailable' | trans }}</button>
            </div>
        {% else %}
            <div class="col-md">
                <ul class="list-unstyled planning-legend-container">
                    <li><span class="availability-legend unknown"></span> <em>{{ 'organization.asset.unavailable' | trans }}</em></li>
                    <li><span class="availability-legend available"></span> <em>{{ 'organization.asset.available' | trans }}</em></li>
                </ul>
            </div>
            <div class="col-md">
                <ul class="list-unstyled planning-legend-container">
                    <li><span class="availability-legend booked"></span> <em>{{ 'organization.asset.booked' | trans }}</em></li>
                    <li><span class="availability-legend engaged"></span> <em>{{ 'organization.asset.engaged' | trans }}</em></li>
                    <li><span class="availability-legend locked"></span> <em>{{ 'organization.asset.locked' | trans }}</em></li>
                </ul>
            </div>
        {% endif %}
    </div>
</div>

{% set itemDataRow = 9 %}

<div class="alert alert-warning d-none alert-dismissible" role="alert" id="alert-last-update">
    <span>{{ 'message.updatedWarning' | trans | raw }}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'action.close' | trans }}">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{# Store the following table in cache for performances (default TTL: 1 day) #}
{% cache 'organization_planning' filters %}
{% set availabilities = getAvailabilities(periodCalculator, filters) %}
<div class="planning-container">
    {% if availabilities.assets|length > 0 or availabilities.users|length > 0 %}
        {# The planning is hidden by default and shown after the DOM loading in order to improve display performances #}
        <table class="planning table table-sm table-bordered availability-table" data-availability-mode="planning" style="display: none;">
            {% if availabilities.assets|length %}
                {% include 'organization/planning/_availabilities_assets.html.twig' with {availabilities: availabilities.assets, entityType: 'assets'} %}
            {% endif %}

            {% if availabilities.users|length %}
                {% include 'organization/planning/_availabilities_users.html.twig' with {availabilities: availabilities.users, entityType: 'users'} %}
            {% endif %}
            <tfoot>
            <tr>
                <td colspan="{{ 2 + itemDataRow + periodCalculator.slots|length }}" class="separator"></td>
            </tr>
            </tfoot>
        </table>
    {% else %}
        <p class="alert alert-warning mx-2">{{ 'organization.planning.noResourceAvailable'|trans }}</p>
    {% endif %}
</div>
{% endcache %}

{% include 'availability/_mission_modal.html.twig' %}

<div class="modal fade" id="modal-update" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {{ 'message.deleteSlotWarning' | trans ({ '%nbAssets%' : "<strong id='nb-assets-users'></strong>" }) | raw }}.
                </p>
                <div class="form-group" id="status-update-comment-container">
                    <label for="status-update-comment">Commentaire</label>
                    <input type="text" class="form-control" id="status-update-comment" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'action.cancel' | trans }}</button>
                <button id="confirm-update" data-url="" data-status="" type="button" class="btn btn-primary">{{ 'action.edit' | trans }}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-add-mission" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body loading">{{ 'action.loading'|trans }}</div>
            <div class="modal-body content"></div>
        </div>
    </div>
</div>
