<div class="container planning-actions-container">
    <div class="row">
        <div class="col-md">
            <div class="text-center" id="loader">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Chargement...</span>
                </div>
            </div>
            <div class="display-more-container form-check">
                <input class="form-check-input" type="checkbox" id="display-more">
                <label class="form-check-label" for="display-more">
                    Afficher plus d'informations
                </label>
            </div>
        </div>
        {% if app.user.parent is empty %}
            <div class="col-md">
                <button class="btn btn-sm btn-block trigger-update booked" action="book" data-status="booked" data-href="{{ path('planning_update', { action: 'book' }) }}">Marquer comme réservé</button>
                <button class="btn btn-sm btn-block trigger-update available" action="allow" data-status="available" data-href="{{ path('planning_update', { action: 'allow' }) }}">Marquer comme disponible</button>
            </div>
            <div class="col-md">
                <button class="btn btn-sm btn-block trigger-update locked" action="lock" data-status="locked" data-href="{{ path('planning_update', { action: 'lock' }) }}">Marquer comme bloqué</button>
                <button class="btn btn-sm btn-block trigger-update unknown" action="delete" data-status="unknown" data-href="{{ path('planning_update', { action: 'delete' }) }}">Marquer comme NON disponible</button>
            </div>
        {% endif %}
    </div>
</div>

{% set itemDataRow = 8 %}
<div class="planning-container">
    <table class="planning table table-sm table-bordered">
        <thead>
        <tr class="days">
            <th rowspan="2"></th>
            <th colspan="{{ itemDataRow }}" class="item-data">Informations</th>
            {% for item in periodCalculator.days %}
                <th colspan="{{ item.slots }}" data-day="{{ item.date|date("Y-m-d") }}" title="Trier par nombre de disponibilités sur le jour">
                    {{ item.date|format_date(pattern="eeee dd MMMM") }}
                </th>
            {% endfor %}
        </tr>
        <tr class="hours">
            <th class="item-data">NIVOL</th>
            <th class="item-data">Tel</th>
            <th class="item-data">Email</th>
            <th class="item-data">Profession</th>
            <th class="item-data">Cadre</th>
            <th class="item-data">Compétences</th>
            <th class="item-data">Uniforme</th>
            <th class="item-data">Vulnérable</th>
            {% for item in periodCalculator.slots %}
                <th class="slot-name">
                    {{ item|format_date(pattern="HH") }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        {% for type, list in availabilities %}
            {% set isAsset = type in (assetsTypes|keys) %}
            {% set entityType = isAsset ? 'assets' : 'users' %}
            <tbody>
                <tr>
                    <th class="separator bg-dark">
                        {% if  isAsset %}
                            {{ type }}
                        {% else %}
                            {{ usersSkills[type] | default('Bénévoles') }}
                        {% endif %}
                        ({{ list|length }})
                    </th>
                    <td colspan="{{ itemDataRow + periodCalculator.slots|length }}"></td>
                </tr>
            </tbody>

            <tbody class="item-rows">
                {% for item in list %}
                    <tr data-type="{{ entityType }}" data-id="{{ item.entity.id }}">
                        <th class="item-detail">
                            {{ item.entity }}
                            {% if  not isAsset %}
                                {{ item.entity.skillSet | filter(skill => skill != type and skill in importantSkillsToDisplay) | map(skill => '<span class="badge badge-secondary">' ~skill~ '</span>') | join | raw }}
                            {% endif %}
                        </th>
                        {% if not isAsset %}
                            <td class="item-data">{{ item.entity.identificationNumber }}</td>
                            <td class="item-data">{{ item.entity.phoneNumber }}</td>
                            <td class="item-data">{{ item.entity.emailAddress }}</td>
                            <td class="item-data">{{ item.entity.occupation }}</td>
                            <td class="item-data">{{ item.entity.organizationOccupation }}</td>
                            <td class="item-data">
                                {% for skill in item.entity.skillSet -%}
                                    <span class="badge badge-{{ skill in importantSkills ? 'primary' : 'secondary' }}">{{ skill }}</span>
                                {%- endfor %}
                            </td>
                            <td class="item-data">{{ item.entity.fullyEquipped ? 'Oui' : '-' }}</td>
                            <td class="item-data">{{ item.entity.vulnerable ? 'Oui' : '-' }}</td>
                        {% else %}
                            <td class="item-data" colspan="{{ itemDataRow }}"></td>
                        {% endif %}
                        {% for slot in item.availabilities -%}
                            <td class="slot-box {{ slot.status }}" data-status="{{ slot.status }}" data-day="{{ slot.from|date("Y-m-d") }}" data-from="{{ slot.from|date("Y-m-d H:i") }}" data-to="{{ slot.to|date("Y-m-d H:i") }}">
                                {% if app.user.parent is empty %}
                                    <input type="checkbox">
                                {% endif %}
                            </td>
                        {%- endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        {% endfor %}
        <tfoot>
            <tr>
                <td colspan="{{ 1 + itemDataRow + periodCalculator.slots|length }}" class="separator"></td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="modal fade" id="modal-update" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Vous êtes sur le point de modifier la disponibilité de <span id="nb-assets-users"></span>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button id="confirm-update" data-url="" data-status="" type="button" class="btn btn-primary">Modifier</button>
            </div>
        </div>
    </div>
</div>
