<button id="triggerToRemove">Trigger to remove</button>

<div class="table-responsive planning-container">
    <table class="planning table table-sm table-bordered">
        <thead>
        <tr>
            <th rowspan="2"></th>
            {% for item in periodCalculator.days %}
                <th colspan="{{ item.slots }}">
                    {{ item.date|format_date(pattern="eeee dd MMMM") }}
                </th>
            {% endfor %}
        </tr>
        <tr>
            {% for item in periodCalculator.slots %}
                <th class="slot-name">
                    {{ item|format_date(pattern="HH") }}<br>{{ item|date_modify(periodCalculator.interval.format('+ %h hours'))|format_date(pattern="HH") }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for type, list in { assets: assetsAvailabilities,  users: usersAvailabilities} %}
            {% for item in list %}
                <tr data-type="{{ type }}" data-id="{{ item.entity.id }}">
                    <th class="item-detail">{{ item.entity }}</th>
                    {% for slot in item.availabilities %}
                        <td class="slot-box {{ slot.status }}" data-status="{{ slot.status }}" data-from="{{ slot.from|date("Y-m-d h:i") }}" data-to="{{ slot.to|date("Y-m-d h:i") }}">
                            <input type="checkbox">
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td colspan="{{ 1 + periodCalculator.slots|length }}" class="separator"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
