<div class="search shadow-sm p-3 mb-5 bg-white rounded">
    {{ form_start(form, {'attr': { 'id': 'planning-form', 'data-last-update-href': url('planning_last_update', [], true) }}) }}
    <div class="row">
        <div class="col-12 col-md-6">
            <label for="fromToRange">{{ 'calendar.displayedPeriod' | trans }}: </label><input type="text" id="fromToRange" class="form-control" readonly>
            <div class="d-none">
                {{ form_row(form.from) }}
                {{ form_row(form.to) }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <label for="availableRange">{{ 'calendar.showAvailableOnly' | trans }}: </label><input type="text" id="availableRange" class="form-control" readonly>
            <div class="d-none">
                {{ form_row(form.availableFrom) }}
                {{ form_row(form.availableTo) }}
            </div>
        </div>
    </div>

    <div class="row mt-md-2">
        <div class="col-12 col-md-6">
            <div class="row">
                {{ form_label(form.organizations, null, {'label_attr': {'class': 'col-12 col-md-3'}}) }}
                <div class="col-12 col-md-9">
                    {{ form_widget(form.organizations) }}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Afficher si disponible au moins</span>
                </div>
                {{ form_widget(form.minimumAvailableHours) }}
                <div class="input-group-append">
                    <div class="input-group-text">h</div>
                </div>
            </div>
            {{ form_row(form.displayAvailableWithBooked) }}
        </div>
    </div>

    <div class="row mt-md-2">
        <div class="col-12 col-md-2">
            {{ form_row(form.hideUsers) }}
        </div>
        <div class="col-12 col-md-6 row" data-hide="users">
            {{ form_label(form.userSkills, null, {'label_attr': {'class': 'col-12 col-md-3'}}) }}
            <div class="col-12 col-md-9">
                {{ form_widget(form.userSkills) }}
            </div>
        </div>

        <div class="col-12 col-md-4" data-hide="users">
            {{ form_row(form.onlyFullyEquiped) }}
            {{ form_row(form.displayVulnerables) }}
        </div>
    </div>

    <div class="row mt-md-2">
        <div class="col-12 col-md-2">
            {{ form_row(form.hideAssets) }}
        </div>
        <div class="col-12 col-md-6 row" data-hide="assets">
            {{ form_label(form.assetTypes, null, {'label_attr': {'class': 'col-12 col-md-3'}}) }}
            <div class="col-12 col-md-9">
                {{ form_widget(form.assetTypes) }}
            </div>
        </div>
        <div class="col-12 col-md-4 row">
            <button class="btn btn-outline-primary btn-block" type="submit">{{ 'organization.search.submit' | trans }}</button>
        </div>
    </div>
    {{ form_end(form) }}
</div>
