<div>
    {{ form_start(form) }}
    <div class="row">
        {{ form_row(form.from) }}
        {{ form_row(form.to) }}
    </div>
    <div class="row">
        {{ form_row(form.availableFrom) }}
        {{ form_row(form.availableTo) }}
    </div>
    {{ form_end(form) }}
</div>
