{% extends 'organization/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('planning') }}
    {{ encore_entry_script_tags('planning-update') }}
    {{ encore_entry_script_tags('availability-table') }}
{% endblock %}

{% block title %}{{ 'calendar.schedule' | trans }}{% endblock %}

{% block container %}
    <div>
        <div class="container my-4">
            {{ include('misc/flash-messages.html.twig') }}
            <h1>{{ 'calendar.schedule' | trans }} - {{ 'calendar.period' | trans ({ '%from%' : periodCalculator.from|format_date(pattern="eeee dd MMMM"), '%to%' : periodCalculator.to|format_date(pattern="eeee dd MMMM") }) }}</h1>
            {% include 'organization/planning/_search_type.html.twig' %}
        </div>
        {% include 'organization/planning/_results.html.twig' %}
    </div>
{% endblock %}
