{% extends 'organization/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('planning') }}
    {{ encore_entry_script_tags('planning-update') }}
{% endblock %}

{% block title %}Planning{% endblock %}

{% block container %}
    <div>
        <div class="container my-4">
            {{ include('misc/flash-messages.html.twig') }}
            <h1>Planning - du {{ periodCalculator.from|format_date(pattern="eeee dd MMMM") }} au {{ periodCalculator.to|format_date(pattern="eeee dd MMMM") }}</h1>
            {% include 'organization/planning/_search_type.html.twig' %}
        </div>
        {% include 'organization/planning/_results.html.twig' %}
    </div>
{% endblock %}
