<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/favicon.ico" />
        <title>ResOP - {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('user_home')}}">ResOP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('user_home')}}">Accueil</a>
                    </li>
                </ul>
                <div class="my-2 my-lg-0 d-flex">
                    {% if not app.user %}
                        <a class="nav-link" href="{{ path('app_login')}}">Espace bénévole</a>
                        <a class="nav-link" href="{{ path('app_organization_login')}}">Espace structure</a>
                    {% else %}
                        {{  app.user }}
                        <a class="mx-4" href="{{ logout_path() }}">Déconnexion</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container my-4">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
