<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/favicon.ico" />
        <title>{{ 'project.name' | trans }} - {% block title %}{{ 'nav.welcome' | trans }}!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">
    </head>
    {% block document_body %}
    <body class="{% block body_class 'body-user' %}">
        {% include '_navbar.html.twig' %}

        <div class="{% block container_class 'container my-5' %}">
            {% if app.user and 0 < app.user.organizations.count and app.user.password is empty %}
                <p class="alert alert-warning">
                    <a href="{{ path('app_user_password') }}">
                        Vous devez renseigner votre mot de passe afin d'administrer votre structure.
                    </a>
                </p>
            {% endif %}

            {% block body %}{% endblock %}
        </div>

        {% include '_footer.html.twig' %}

        {% include '_ajax_modal.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
    {% endblock %}
</html>
