<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <nav>
                    <ul>
                        {% if not app.user %}
                            <li><a href="{{ path('app_login') }}">Connexion</a></li>
                        {% else %}
                            <li>{{ app.user }} / {{ app.user.identificationNumber }}</li>
                            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
