{% extends 'organization/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mission-type-form') }}
{% endblock %}

{% block title %}Modifier un type de mission{% endblock %}

{% block body %}

    <a href="{{ path('app_organization_mission_type_index') }}">Retourner à la liste</a>
    <h1>Modifier un type de mission</h1>

    {{ include('organization/mission_type/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    {{ include('organization/mission_type/_delete_form.html.twig') }}
{% endblock %}
