{% extends 'organization/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mission-type-form') }}
{% endblock %}

{% block title %}{{ 'organization.missionType.addNew' | trans }}{% endblock %}

{% block body %}
    <a href="{{ path('app_organization_mission_type_index') }}">{{ 'common.backToList' | trans }}</a>

    <h1>{{ 'organization.missionType.addNew' | trans }}</h1>

    {{ include('organization/mission_type/_form.html.twig') }}
{% endblock %}
