<div class="table-responsive">
    <table class="table table-striped text-nowrap mt-3">
        <thead  class="thead-light">
        <tr>
            {% if organization.isParent %}
                <th>{{ 'organization.label' | trans }}</th>
            {% endif %}
            <th>{{ 'user.firstName' | trans }}</th>
            <th>{{ 'user.lastName' | trans }}</th>
            <th>{{ 'user.skills' | trans }}</th>
            <th>{{ 'user.identificationNumber' | trans }}</th>
            {% if showLinks is not defined or showLinks %}
                <th>{{ 'user.email' | trans }}</th>
            {% endif %}
            <th>{{ 'common.phoneNumberShort' | trans }}</th>
            {% if showLinks is not defined or showLinks %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                {% if organization.isParent %}
                    <td>{{ user.organization.name }}</td>
                {% endif %}
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user|userBadges }}</td>
                <td><small>{{ user.identificationNumber }}</small></td>
                {% if showLinks is not defined or showLinks %}
                    <td><small>{{ user.emailAddress }}</small></td>
                {% endif %}
                <td>
                    <a href="tel:{{ user.phoneNumber|phone_number_format('E164') }}" class="small">
                        {{ user.phoneNumber|phone_number_format('NATIONAL') }}
                    </a>
                </td>
                {% if showLinks is not defined or showLinks %}
                    <td>
                        <button class="btn btn-outline-primary text-nowrap" data-toggle="ajax-modal" data-href="{{ path('app_organization_user_show_modal', { 'userToShow': user.id }) }}">
                            <span class="fa fa-copy"></span> {{ 'action.show' | trans }}
                        </button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination is defined and pagination %}
        <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(users) }}
        </div>
    {% endif %}
</div>
