<div class="table-responsive">
    <table class="table table-striped mt-3">
        <thead  class="thead-light">
        <tr>
            <th>{{ 'user.identificationNumber' | trans }}</th>
            <th>{{ 'user.firstName' | trans }}</th>
            <th>{{ 'user.lastName' | trans }}</th>
            <th>{{ 'organization.user.skillset' | trans }}</th>
            <th>{{ 'user.email' | trans }}</th>
            {% if organization.parent is null %}
                <th>{{ 'organization.label' | trans }}</th>
            {% endif %}
            {% if showLinks is not defined or showLinks %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><small>{{ user.identificationNumber }}</small></td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user|userBadges }}</td>
                <td><small>{{ user.emailAddress }}</small></td>
                {% if organization.parent is null %}
                    <td>{{ user.organization.name }}</td>
                {% endif %}
                {% if showLinks is not defined or showLinks %}
                    <td>
                        <button class="btn btn-outline-primary" data-toggle="ajax-modal" data-href="{{ path('app_organization_user_show_modal', { 'userToShow': user.id, 'organization': user.organization.id }) }}">
                            <span class="fa fa-copy"></span> {{ 'action.show' | trans }}
                        </button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
