<div class="table-responsive">
    <table class="table table-striped mt-3">
        <thead  class="thead-light">
        <tr>
            <th>{{ 'user.identificationNumber' | trans }}</th>
            <th>{{ 'user.firstName' | trans }}</th>
            <th>{{ 'user.lastName' | trans }}</th>
            <th>{{ 'organization.user.skillset' | trans }}</th>
            <th>{{ 'user.email' | trans }}</th>
            {% if organization.parent is null %}
                <th>{{ 'organization.label' | trans }}</th>
            {% endif %}
            {% if showActions is not defined or showActions %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><small>{{ user.identificationNumber }}</small></td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                    {% for skill in getDisplayableSkillsInPlanning(user) -%}
                        {{ skill|skillBadge }}
                    {%- endfor %}
                </td>
                <td><small>{{ user.emailAddress }}</small></td>
                {% if organization.parent is null %}
                    <td>{{ user.organization.name }}</td>
                {% endif %}
                {% if showActions is not defined or showActions %}
                    <td>
                        <a class="btn btn-secondary" href="{{ path('app_organization_user_edit', { 'userToEdit': user.id, 'organization': user.organization.id }) }}">{{ 'action.edit' | trans }}</a>
                        {% if withDelete is defined and withDelete %}
                            <a
                                class="btn btn-outline-danger trigger-delete"
                                data-message="{{ 'message.deleteUserWarning' | trans }}"
                                data-display-name="{{ user.firstName }} {{ user.lastName }} ( {{ user.identificationNumber }} )"
                                data-href="{{ path('app_user_delete', { 'userToDelete': user.id, 'organization': user.organization.id }) }}"
                                href="#"
                            >
                                {{ 'action.delete' | trans }}
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
