{% if app.user == user.organization or app.user == user.organization.parent %}
    <a class="btn btn-primary float-right" href="{{ path('app_organization_user_edit', {userToEdit: user.id}) }}">{{ 'action.edit' | trans }}</a>
{% endif %}

<h1 class="mb-4">{{ user }}</h1>

<dl class="row">
    <dt class="col-4">{{ 'user.skills'|trans }}</dt>
    <dd class="col-8">{{ user|userBadges }}</dd>
    <dt class="col-4">{{ 'user.identificationNumber'|trans }}</dt>
    <dd class="col-8">{{ user.identificationNumber }}</dd>
    <dt class="col-4">{{ 'user.info'|trans }}</dt>
    <dd class="col-8">
        <a href="mailto:{{ user.emailAddress }}">{{ user.emailAddress }}</a><br>
        <a href="tel:{{ user.phoneNumber|phone_number_format('E164') }}">
            {{ user.phoneNumber|phone_number_format('NATIONAL') }}
        </a>
    </dd>
    <dt class="col-4">{{ 'user.dob'|trans }}</dt>
    <dd class="col-8">{{ user.birthday|format_date('long') }}</dd>
    <dt class="col-4">{{ 'user.detail.vulnerable.label'|trans }}</dt>
    <dd class="col-8">{{ user.vulnerable  ? 'common.yes' | trans : '-' }}</dd>
    <dt class="col-4">{{ 'user.drivingLicence'|trans }}</dt>
    <dd class="col-8">{{ user.drivingLicence  ? 'common.yes' | trans : '-' }}</dd>
    <dt class="col-4">{{ 'user.fullyEquipped'|trans }}</dt>
    <dd class="col-8">{{ user.fullyEquipped  ? 'common.yes' | trans : '-' }}</dd>
    <dt class="col-4">{{ 'user.occupationTitle'|trans }}</dt>
    <dd class="col-8">{{ user.occupation }}</dd>
    {% for property_name, property_value in user.properties %}
        <dt class="col-4">{{ property_name }}</dt>
        <dd class="col-8">{{ property_value }}</dd>
    {% endfor %}
</dl>

<h5>{{ 'organization.mission.listTitle'|trans }}</h5>
{% include 'organization/mission/_list.html.twig' with {missions: user.missions, modalLinks: true} %}
