{% extends 'organization/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form-choice-with-other') }}
{% endblock %}

{% block body %}
    <h1>{{ 'organization.editUserProfile' | trans }}</h1>

    <a
        class="btn btn-outline-danger trigger-delete float-right"
        data-message="{{ 'message.deleteUserWarning' | trans }}"
        data-display-name="{{ user.firstName }} {{ user.lastName }} ( {{ user.identificationNumber }} )"
        data-href="{{ path('app_organization_user_delete', { user: user.id }) }}"
        href="#"
    >{{ 'action.delete' | trans }}</a>

    {% include '/user/_user_form.html.twig' %}
{% endblock %}
