{% extends 'organization/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form-choice-with-other') }}
{% endblock %}

{% block body %}
    <a href="{{ path('app_organization_user_list') }}">{{ 'common.backToList' | trans }}</a>

    <h1>{{ 'organization.editUserProfile' | trans }}</h1>

    <div class="float-right">
        <a
            class="btn btn-outline-danger trigger-delete"
            data-message="{{ 'message.deleteUserWarning' | trans }}"
            data-display-name="{{ user.firstName }} {{ user.lastName }} ( {{ user.identificationNumber }} )"
            data-href="{{ path('app_organization_user_delete', { item: user.id }) }}"
            href="#"
        >{{ 'action.delete' | trans }}</a>
    </div>
    <div class="clearfix"></div>

    {% include '/user/_user_form.html.twig' %}
{% endblock %}
