{% extends 'organization/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-form') }}
{% endblock %}

{% block body %}
    <h1>{{ 'organization.editUserProfile' | trans }}</h1>
    {%
        set labels = {
        'fullyEquipped': 'organization.user.isFullyEquipped' | trans,
        'drivingLicence': 'organization.user.hasDrivingLicence' | trans,
        'occupation': 'user.occupationTitle' | trans,
        'organizationOccupation': 'organization.user.occupation' | trans,
        'skillSet': 'organization.user.skillset' | trans
    } %}
    {% set helps = {
        'skillSet': null,
        'occupation': null,
        'organization': null
    } %}

    <a
        class="btn btn-outline-danger trigger-delete float-right"
        data-message="{{ 'message.deleteUserWarning' | trans }}"
        data-display-name="{{ user.firstName }} {{ user.lastName }} ( {{ user.identificationNumber }} )"
        data-href="{{ path('app_organization_user_delete', { 'userToDelete': user.id }) }}"
        href="#"
    >{{ 'action.delete' | trans }}</a>

    {% include '/user/_user_form.html.twig' with { 'labels': labels, 'helps': helps } %}
{% endblock %}
