{% extends 'organization/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('availabilitable-list') }}
{% endblock %}

{% block title %}{{ 'organization.users' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'organization.users' | trans }} - {{ organization }}</h1>

    {{ include('organization/user/_list.html.twig') }}
{% endblock %}
