{% extends 'organization/base.html.twig' %}

{% block title %}{{ 'nav.section.organization' | trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('asset-type-form') }}
{% endblock %}

{% block body %}
    <a href="{{ path('app_organization_assetType_list') }}">{{ 'common.backToList' | trans }}</a>
    <h1>
        {% if app.request.get('_route') == 'app_organization_assetType_new' %}
            {{ 'organization.asset_type.add_new' | trans }} - {{ app.user }}
        {% else %}
            {{ 'organization.asset_type.edit_form_title' | trans }} - {{ app.user }}
        {% endif %}
    </h1>

    {{ form_start(form, { attr: { id: 'edit-asset-type-form'}}) }}

    {{ form_errors(form) }}
    <div class="row">
        {{ form_row(form.name) }}
        <div class="col-12">
            {{ form_row(form.properties) }}


            <div class="text-center">
                <button type="button" class="btn btn-outline-secondary add-collection-widget" data-list-selector="#asset_type_properties">
                    {{ 'organization.asset_type.properties.add_new'|trans }}
                </button>
            </div>
        </div>

        <div class="col-12">
            {{ form_rest(form) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
