{% extends 'organization/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('forecast') }}
{% endblock %}

{% block title %}Projections{% endblock %}

{% block container %}
    <div>
        <div class="container my-4">
            {{ include('misc/flash-messages.html.twig') }}

            <h1>Projections</h1>

            <p class="alert alert-light">
                La projection permet de savoir combien d'équipages d'une mission donnée peuvent être mobilisés au maximum sur une période donnée.<br />
                Par défaut seules les ressources disponibles sont comptées, une option permet d'inclure les ressources déjà mobilisées sur d'autres missions.<br />
                <a href="{{ path('app_organization_mission_type_index') }}">Vous pouvez ajouter des types de mission en cliquant ici</a>
            </p>

            {% include 'organization/forecast/_search_type.html.twig' %}
        </div>
        <div class="container">
            {% if filters.missionTypes|length == 0 %}
                <p class="alert alert-success">
                    Aucun type de mission n'existe pour le moment.
                    <a href="{{ path('app_organization_mission_type_new') }}" class="btn btn-success">Créer un type de mission</a>
                </p>
            {% endif %}

            {% if filters.availableFrom is defined %}
                {% include 'organization/forecast/_results.html.twig' %}
            {% else %}
                <p class="alert alert-warning">Choisissez une plage horaire pour calculer les équipages possibles.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
