{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row">
    <div class="col-6">
        {{ form_row(form.identificationNumber, { 'label': 'user.identificationNumber' | trans }) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.organization, { 'label': labels.organization | default('organization.default' | trans), 'help': helps.organization }) }}
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        {{ form_row(form.firstName, { 'label': 'user.firstName' | trans }) }}
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.lastName, { 'label': 'user.lastName' | trans }) }}
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        {{ form_row(form.emailAddress, { 'label' : 'user.email' | trans }) }}
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.phoneNumber, { 'label' : 'user.mobile' | trans }) }}
    </div>
</div>

{% if form.birthday is defined %}
    {{ form_row(form.birthday, { 'label': 'user.dob' | trans }) }}
{% endif %}

{{ form_row(form.vulnerable, { 'label': 'user.detail.vulnerable.label' | trans, 'help_attr': {'class': 'nowrap'} }) }}
{{ form_row(form.organizationOccupation, { 'label': labels.organizationOccupation }) }}

<div class="row">
    <div class="col-12 col-xl-6">
        {{ form_row(form.skillSet, { 'label': labels.skillSet, 'help': helps.skillSet}) }}
    </div>
    <div class="col-12 col-xl-6">
        {{ form_row(form.occupation, { 'label': labels.occupation, 'help': helps.occupation}) }}
    </div>
</div>

{{ form_row(form.fullyEquipped, {'label': labels.fullyEquipped}) }}

{{ form_row(form.drivingLicence, {'label': labels.drivingLicence}) }}

<div class="float-right">
    {{ form_row(form.submit, {label: 'action.submit' | trans }) }}
</div>
<div class="clearfix"></div>
{{ form_end(form) }}
