{{ form_start(form) }}
{{ form_errors(form) }}

<div class="row">
    <div class="col-6">
        {{ form_row(form.identificationNumber, { 'label': 'user.identificationNumber' | trans }) }}
    </div>
</div>
<div class="row">
    <div class="col-6">
        {{ form_row(form.organization) }}
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        {{ form_row(form.firstName, { 'label': 'user.firstName' | trans }) }}
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.lastName, { 'label': 'user.lastName' | trans }) }}
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-6">
        {{ form_row(form.emailAddress, { 'label' : 'user.email' | trans }) }}
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.phoneNumber, { 'label' : 'user.mobile' | trans }) }}
    </div>
</div>

{% if form.birthday is defined %}
    {{ form_row(form.birthday, { 'label': 'user.dob' | trans }) }}
{% endif %}

<div class="row">
    <div class="col-12 col-xl-6">
        {{ form_row(form.skillSet) }}
    </div>
    <div class="col-12 col-xl-6">
        {{ form_row(form.occupation) }}
    </div>
</div>

{{ form_row(form.properties) }}

<div class="float-right">
    <div class="form-group">
        <button type="submit" id="user_submit" class="btn-primary btn">{{ 'action.submit'|trans }}</button>
    </div>
</div>
<div class="clearfix"></div>
{{ form_end(form) }}
