{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-form') }}
{% endblock %}

{% block body %}
    <h1>Création de compte</h1>
    <p class="font-italic">
        Dans le cadre du dispositif COVID-75, nous avons besoin de votre engagement à tous et nous savons pouvoir
        compter sur vous.
    </p>
    <p class="font-italic">
        Pour mener à bien les missions confiées par nos partenaires, nous avons besoin de connaître le plus précisément
        possible les ressources que nous pouvons solliciter, pour avoir de la visibilité sur les engagements à
        réaliser.<br>
        Nous ne pouvons pas vous garantir la mobilisation de toutes les personnes qui se rendent disponibles. Votre
        déclenchement se fera en fonction de l'accord préalable de vos unités locales (accord recueilli par la Cellule
        Ressources et Anticipation), de vos compétences et des besoins attendus. Il est donc possible que vous ne soyez
        pas engagés sur les créneaux où vous vous êtes portés disponibles.
    </p>
    <p class="font-italic">
        Si vous n'êtes pas disponibles ou que vous faites partie des personnes qui ne peuvent pas être engagées
        (mineurs, + de 70 ans, etc.), nous vous demandons également de répondre (question dédiée) afin que l'on ne vous
        relance pas.
    </p>
    <p class="font-italic">
        Voici quelques informations complémentaires :<br>
        - la disponibilité commence au point de rendez-vous à l'heure de début du créneau ;<br>
        - dans le cas où vos disponibilités évoluent, vous pourrez les mettre à jour en permanence sur l'interface ;<br>
        - dans le cas où vous seriez engagé, vous recevrez une notification vous précisant le lieu, les numéros de
        contacts utiles, l'objet de la mission ;<br>
        - en fin de mission, vous serez contactés individuellement par la Cellule Ressources &amp; Anticipation afin
        d'effectuer un suivi.
    </p>
    <p class="font-italic">
        Vos disponibilités seront partagées avec vos <abbr title="Directeur/trice local(e) de l'Action Sociale">DLAS</abbr> et <abbr title="Directeur/trice local(e) de l'Urgence et du Secourisme">DLUS</abbr> (à qui nous demanderons leur accord de principe)<br>
        Nous mettons à votre disposition un numéro de téléphone pour toute question concernant la réserve opérationnelle
        : <a href="tel:+33144146880">01 44 14 68 80</a> (9h-21h).<br>
        N'hésitez pas non plus à solliciter vos cadres pour toute autre question.
    </p>
    <p class="font-italic">
        Nous vous remercions par avance pour vos retours.<br>
        Et un grand merci pour votre engagement !
    </p>

    <p class="font-italic">Cellule Ressources &amp; Anticipation</p>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.identificationNumber) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.emailAddress) }}
    {{ form_row(form.birthday) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.organization) }}
    {{ form_row(form.vulnerable) }}
    {{ form_row(form.organizationOccupation) }}
    <fieldset class="form-group">
        {{ form_label(form.skillSet)}}
        {{ form_help(form.skillSet)}}
        {{ form_widget(form.skillSet)}}
    <fieldset>
    {{ form_row(form.occupation) }}
    {{ form_row(form.fullyEquipped) }}

    <div class="float-right">
        {{ form_row(form.submit, {label: 'Valider'}) }}
    </div>
    <div class="clearfix"></div>
    {{ form_end(form) }}
{% endblock %}
