{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-form') }}
{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>
    <p>NIVOL : {{ identificationNumber }}</p>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.emailAddress) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.organization) }}
    {{ form_row(form.vulnerable) }}
    {{ form_row(form.organizationOccupation) }}
    <fieldset class="form-group">
        {{ form_label(form.skillSet)}}
        {{ form_help(form.skillSet)}}
        {{ form_widget(form.skillSet)}}
    <fieldset>
    {{ form_row(form.occupation) }}
    {{ form_row(form.fullyEquipped) }}

    <div class="float-right">
        {{ form_row(form.submit, {label: 'Valider'}) }}
    </div>
    <div class="clearfix"></div>
    {{ form_end(form) }}
{% endblock %}
