{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur{% endblock %}

{% block body %}
    {{ include('misc/flash-messages.html.twig') }}
    <h1>Bienvenue, {{ app.user.fullName }}</h1>
    <p>NIVOL : {{ app.user.identificationNumber }}</p>
    <p><a class="btn btn-primary" href="{{ path('user_edit') }}" role="button">Modifier mes informations</a></p>

    <p>Semaine actuelle : du {{ 'this week' | date('d/m/Y') }} au {{ 'sunday this week' | date('d/m/Y') }}</p>
    <p><a class="btn btn-primary" href="{{ path('user_availability') }}" role="button">Modifier mes disponibilités</a></p>

    <p>Semaine prochaine : du {{ 'next week' | date('d/m/Y') }} au {{ 'sunday next week' | date('d/m/Y') }}</p>
    <p><a class="btn btn-primary" href="{{ path('user_availability', { week: 'next week'|date('o-\\WW') }) }}" role="button">Modifier mes disponibilités</a></p>
{% endblock %}
