{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.section.volunteer' | trans }}{% endblock %}

{% block body %}
    <div class="container my-3 my-xl-5">
        {{ include('misc/flash-messages.html.twig') }}
        <h1>{{ 'user.welcome'|trans }} <span class="font-weight-normal">{{ app.user.fullName }}</span></h1>
        <h2>{{ app.user.organization }} | {{ 'user.identificationNumber' | trans }} : {{ app.user.identificationNumber }}</h2>
        <p><a class="text-primary font-weight-bold" href="{{ path('app_user_edit') }}">{{ 'user.editMyInfo'|trans }} ></a></p>
    </div>

    <hr class="mt-5">

    <h3 class="mb-5">{{ 'common.myAvailabilities'|trans }}</h3>

    <p>
        <a class="btn btn-primary" href="{{ path('user_availability') }}" role="button" title="{{ 'calendar.week.current'|trans }}">
            {{ 'calendar.week.current' | trans }} : {{ 'calendar.period' | trans({ '%from%' : 'this week' | format_date('long'), '%to%' : 'sunday this week' | format_date('long') }) }}
        </a>
    </p>

    <p>
        <a class="btn btn-primary" href="{{ path('user_availability', { week: 'next week'|date('o-\\WW') }) }}" role="button" title="{{ 'calendar.week.next'|trans }}">
            {{ 'calendar.week.next' | trans }} : {{ 'calendar.period' | trans({ '%from%' : 'next week' | format_date('long'), '%to%' : 'sunday next week' | format_date('long') }) }}
        </a>
    </p>

    <p>
        <a class="btn btn-outline-primary" href="{{ path('user_availability', { week: 'next week +1 week'|date('o-\\WW') }) }}" role="button">
            {{ 'calendar.week.fromTo' | trans({ '%from%' : 'monday next week +1 week' | format_date('long'), '%to%' : 'sunday next week +1 week' | format_date('long') }) }}
        </a>
    </p>

    <p>
        <a class="btn btn-outline-primary" href="{{ path('user_availability', { week: 'next week +2 week'|date('o-\\WW') }) }}" role="button">
            {{ 'calendar.week.fromTo' | trans({ '%from%' : 'monday next week +2 week' | format_date('long'), '%to%' : 'sunday next week +2 week' | format_date('long') }) }}
        </a>
    </p>

    <div class="container-xl pt-xl-3">
        <div class="row">
            {% include 'user/_home-calendar.html.twig' with {
                'availabilities': currentWeekAvailabilities,
                'calendarTitle': 'user.calendar.currentWeek'|trans,
                'weekType': 'current-week'
            } %}

            {% include 'user/_home-calendar.html.twig' with {
                'availabilities': nextWeekAvailabilities,
                'calendarTitle': 'user.calendar.nextWeek'|trans,
                'editLinkPath': 'user_availability',
                'weekType': 'next-week'
            } %}
        </div>
    </div>
{% endblock %}
