{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Bonjour {{ app.user.fullName }} (app.user.identificationNumber),
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

    {{ form_start(loginForm) }}
    {{ form_row(loginForm.identifier, {label: 'Numéro NIVOL / Adresse e-mail'}) }}
    {{ form_row(loginForm.birthday, {label: 'Date de naissance'}) }}

    <div class="mt-4 mt-md-5 mb-2 d-flex">
        <label class="mx-auto">
            <input type="checkbox" name="_remember_me"> Se souvenir de moi
        </label>
    </div>

    <button class="btn btn-lg btn-primary w-100" type="submit">Je me connecte</button>

    {{ form_end(loginForm) }}

    <br />
    <p><a class="btn btn-lg btn-info w-100" href="{{ path('user_new') }}">Créer mon profil</a></p>
</form>
{% endblock %}
