{% extends 'base.html.twig' %}

{% block title %}{{ 'user.passwordAction' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'user.passwordAction' | trans }}</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="row">
        {% if form.currentPassword is defined %}
            <div class="col-12 col-md-6">
                {{ form_row(form.currentPassword) }}
            </div>
        {% endif %}
        <div class="col-12 col-md-6">
            {{ form_row(form.plainPassword) }}
        </div>
    </div>

    <div class="float-right">
        <div class="form-group">
            <button type="submit" id="user_submit" class="btn-primary btn">{{ 'action.submit'|trans }}</button>
        </div>
    </div>
    <div class="clearfix"></div>
    {{ form_end(form) }}
{% endblock %}
